<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Menüler</div>


                <a class="nav-link" href="/Products/Index/">
                    <div style="margin-left: 10px; margin-right: 15px" class="sb-nav-link-icon"><i class="fa-solid fa-gift"></i></div>
                    Ürünler
                </a>
                <a class="nav-link" href="/Customers/Index">
                    <div style="margin-left: 5px; margin-right: 15px" class="sb-nav-link-icon"><i class="fa-solid fa-users"></i></div>
                    Müşteriler
                </a>
                <a class="nav-link" href="/Jobs/Index">
                    <div style="margin-left: 11px; margin-right: 15px" class="sb-nav-link-icon"><i class="fa-solid fa-clipboard-user"></i></div>
                    Meslekler
                </a>
                <a class="nav-link" href="/Categories/Index">
                    <div style="margin-left: 9px; margin-right: 13px" class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                    Kategoriler
                </a>

                <a class="nav-link" href="">
                    <div style="margin-left:15px;margin-right:15px" class="sb-nav-link-icon"><i class="fa-solid fa-question"></i></div>
                    Yardım
                </a>



            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logged in as:</div>
            Start Bootstrap
        </div>
    </nav>
</div>